<div class="dialog-overlay">
  <div class="row dialog-content" [style.width.px]="dialogWidth">
    <div class="col-md-12 col-lg-12 div-center">
      <h2>Roles</h2>
    </div>
    <div class="col-md-12 col-lg-12">
      <select class="form-control input-radius-sa" [(ngModel)]="selectedOption">
        <option *ngFor="let rol of listaRoles" [ngValue]="rol.id_rol">{{rol.nombre}}</option>
      </select>
    </div>
    <div class="col-md-12 col-lg-12 dialog-buttons div-center">
      <button class="btn btn-lg btn-primary btns" (click)="accept()">Aceptar</button>
      <button class="btn btn-lg btn-primary btns" (click)="cancel()">Cancelar</button>
    </div>
  </div>
</div>