<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-4 col-lg-6 div-center">
      <div>
        <h1 class="text-white">Control de Proyectos</h1>
        <img src="../../../assets/img/logo.jpg" alt="Logo de la empresa">
      </div>
    </div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <div class="text-center">
                <h3 class="login-heading mb-4" align=”center”>Ingreso</h3>
              </div>
              <form>
                <div class="form-label-group">
                  <input type="email" id="inputEmail" name="email" [(ngModel)]="email" class="form-control"
                    placeholder="AA" required autofocus>
                  <label for="inputEmail">Correo electrónico</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="inputPassword" name="password" [(ngModel)]="password" class="form-control"
                    placeholder="AA" required>
                  <label for="inputPassword">Contraseña</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                  type="button" (click)="enviarIngreso()">Ingresar</button>
                <div class="text-center">
                  <a class="small" href="https://huykhong.com">Olvidé mi contraseña</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-rol *ngIf="isDialogOpen" (accepted)="onDialogAccepted($event)" (canceled)="onDialogCanceled()"
  [dialogWidth]="dialogWidth"></app-modal-rol>