<h2>Clientes</h2>
<div class="card">
  <p-table
    #dt2
    [value]="clientes"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Mostrando {first} de {last} - {totalRecords} Entradas"
    [globalFilterFields]="['no_documento', 'nombre']"
    [tableStyle]="{ 'min-width': '95rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            class="p-inputtext p-component p-element"
            pInputText
            type="text"
            (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Buscar..."
          />
        </span>
        <button class="rounded-button" (click)="openDialog(0)">
          <i class="pi pi-plus"></i> Agregar
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 15%">Documento</th>
        <th style="width: 15%">Nombre o Razón Social</th>
        <th style="width: 15%">Ubicación</th>
        <th style="width: 15%">Dirección</th>
        <th style="width: 15%">Contacto</th>
        <th style="width: 15%">Email</th>
        <th style="width: 10%">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td>
          {{ cliente.no_documento }}
        </td>
        <td>
          {{ cliente.nombre }}
        </td>
        <td>
          {{ cliente.ubicacion }}
        </td>
        <td>
          {{ cliente.direccion }}
        </td>
        <td>
          {{ cliente.contacto }}
        </td>
        <td>
          {{ cliente.email }}
        </td>
        <td style="text-align: center">
          <span style="text-align: center">
            <button
              pButton
              type="button"
              pTooltip="Editar Meta"
              (click)="openDialog(cliente.id)"
              class="p-button-rounded p-button-warning p-ripple p-button p-component p-button-icon-only btn-size"
            >
              <i class="pi pi-pencil"></i>
            </button>
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Clientes no encontrados.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-modal-cliente
  *ngIf="isDialogOpen"
  [idCliente]="idCliente"
  (accepted)="onDialogAccepted()"
  (canceled)="onDialogCanceled()"
></app-modal-cliente>
